.playvideo{
    width: 75%;
}
.playvideo iframe{
    width: 100%;
    height: 37vw;
}
.playvideo img{
    width: 20px;
}
.playvideo .video-sub-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.playvideo .video-other-task{
    display: flex;
    gap: 20px;
    align-items: center;

}
.playvideo .video-other-task .other-task{
    display: flex;
    align-items: center;
    gap: 5px;
}
.playvideo .playvideo-info hr{
    margin-block: 15px;
    height: 1px;
    background: rgb(132, 132, 132);
}

.playvideo .playvideo-info .creator-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.playvideo .playvideo-info .creator-detail .subscribe-btn button{
    background: red;
    color: white;
    padding-inline: 20px;
    padding-block: 5px;
    border-radius: 5px;
    border: 1px solid black;
}
.playvideo .playvideo-info .about-creator{
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: center;
}
.playvideo .playvideo-info .about-creator img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.playvideo .playvideo-info .about-creator p{
    font-size: 12px;
}
.playvideo .playvideo-info .description{
    margin-block: 20px;
    font-size: 14px;
    padding-left: 40px;
}
.playvideo .playvideo-info .comments{
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    
}
.playvideo .playvideo-info .comment-1{
    display: flex;  
    margin-block: 20px;
    gap: 20px;
}
.playvideo .playvideo-info .comment-1 img{
    width: 25px;
    border-radius: 50%;
}
.playvideo .playvideo-info .comment-1 .comment-content p{
    font-size: 14px;
}
.playvideo .playvideo-info .comment-1 .user-detail{
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.playvideo .playvideo-info .comment-1 .user-name-time p{
    font-size: 14px;
}
.playvideo .playvideo-info .comment-1 .user-name-time{
    display: flex;
    gap: 15px;
    align-items: center;
}
.playvideo .playvideo-info .comment-1 .like-dislike-icons img{
    width: 15px;
}

.playvideo .playvideo-info .comment-1 .like-dislike-icons{
    display: flex;
    gap: 20px;
}
.playvideo .playvideo-info .comment-1 .like-icon,.dislike-icon{
    display: flex;
    gap: 10px;
}

@media (max-width:900px) {
    .playvideo .playvideo-info .comments{
        display: none;
    }
    .playvideo{
        width: 100%;
    }
    .playvideo .playvideo-info h3{
        font-size: 16px;
    }
    .playvideo .playvideo-info .video-sub-content{
        margin-block: 20px;
    }
}
@media (max-width:668px) {
    .playvideo iframe{
        height: 100vh;
    }
    .playvideo .playvideo-info .video-sub-content{
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
}
@media (max-width:490px) {
    .playvideo iframe{
        width: 100%;
        height: 80vh;
    }
}